@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --cor-primaria: #0a3871;
  --cor-secundaria: #d8dfe8;
  --cor-terciaria: #ffffff;
  --cor-quaternaria: #495057;
  --cor-fundo: #e5e5e5;
  --fonte-principal: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: var(--fonte-principal);
  background-color: var(--cor-fundo);
}

.logo {
  margin: 0.625rem;
  padding: 0.625rem;
  width: 2%;
}

main {
  display: flex;
  justify-content: space-around;
}

.text-area {
  border: none;
  color: var(--cor-primaria);
  text-transform: lowercase;
  font-size: 2rem;
  margin: 5.62rem;
}

.text-area:focus {
  outline: none;
}

::placeholder {
  color: var(--cor-primaria);
}

.informacao {
  display: flex;
  margin-top: 10rem;
}

.informacao, h6{
  color: var(--cor-quaternaria);
  padding-left: 0.75rem;
  font-size: 0.75rem;
}



.mensagem {
  background: var(--cor-terciaria);
  background-image: url(/assets/img.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 24px;
  color: var(--cor-primaria);
  margin: 1.25rem;
  padding: 1.25rem;
  width: 75%;
  height: 30rem;
}
